<div class="container">
    <h3> {{ genre }} </h3>
    
    <app-movie [movies]="movies"></app-movie>

    <nav>
        <ul class="pagination pagination">
            <li class="page-item">
                <a href="" class="page-link">
                    <span>&laquo;</span>
                    <span class="sr-only">Anterior</span>
                </a>
            </li>
            
            <li class="page-item active">
                <a class="page-link">1</a>
            </li>

            <li class="page-item" *ngFor="let item of [2,3]">
                <a (click)="pagination(item)" class="page-link">{{ item }}</a>
            </li>
    
            <li class="page-item">
                <a href="" class="page-link">
                    <span>&raquo;</span>
                    <span class="sr-only">Próximo</span>
                </a>
            </li>
        </ul>
    </nav>
    
</div>