
<div class="caixa d-flex justify-content-center">
    <nav class="item">
        <ul class="pagination pagination">
            <li class="page-item pageButtons">
                <button (click)="pageChange('-')" class="page-link">
                    <span>Anterior</span>
                </button>
            </li>

            <li class="page-item active">
                <button class="page-link  px-4" disabled="true"> {{ page }} </button>
            </li>

            <li class="page-item pageButtons">
                <button (click)="pageChange('+')" class="page-link">
                    <span>Próximo</span>
                </button>
            </li>
        </ul>
    </nav>
</div>
