/* Styles */
body {
    background: #0B243B;
    color: white;
}

.pageButtons {
    color: dodgerblue;
}

.contrast {
    background: black;
    color: white;
    border: 1px solid white;
    button {
        background: black;
        color: yellow;
        border: 1px solid white;
    }
    body, html, header, a, li, input, span, h5, h3, div, .active, nav, .badge, .navbar, .container, .navbar-expand-md, .navbar-dark, .bg-dark, .fixed-top, .navbar-dark, .bg-dark {
        background-color: black;
        color: white;
    }
    a:hover, .dropdown-item {
        background-color: black;
        color: yellow;
    }
}

/* Ajuste dos cards */
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.card-columns {
    @include media-breakpoint-only(sm) {
        column-count: 3;
    }
    @include media-breakpoint-only(md) {
        column-count: 4;
    }
    @include media-breakpoint-only(lg) {
        column-count: 5;
    }
    @include media-breakpoint-only(xl) {
        column-count: 6;
    }
}