/* Styles */
body {
    background: #0B243B;
    color: white;
}

.pageButtons {
    color: dodgerblue;
}

/* Definições do alto contraste */
.contrast {
    background-color: black;

    a, h5, input, div, .badge, .bg-dark {
        background-color: black !important;
        color: white;
    }

    button {
        background: black;
        color: yellow;
        border: 1px solid white;
    }
    button:hover {
        background: black;
        color: yellow;
        border: 1px solid yellow;
    }
    
    
    .dropdown-item {
        background-color: black;
        color: yellow !important;
        border: 1px solid white;
    }
    a:hover {
        border: 1px solid yellow;
    }

    img, .card {
        border: 1px solid white;
    }
    .card:hover {
        border: 1px solid yellow;
    }

    .navbar {
        border-bottom: 1px solid white;
    }
    footer {
        border-top: 1px solid white;
    }
}

/* Ajuste dos cards */
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.card-columns {
    @include media-breakpoint-only(sm) {
        column-count: 3;
    }
    @include media-breakpoint-only(md) {
        column-count: 4;
    }
    @include media-breakpoint-only(lg) {
        column-count: 5;
    }
    @include media-breakpoint-only(xl) {
        column-count: 6;
    }
}