
<div class="container">

    <!-- Carousel -->
    <div id="carousel-indicadores" class="carousel slide" data-ride="carousel"> <!--Carousel -->

        <!-- Indicadores -->
        <ol class="carousel-indicators">
            <li class="active" data-target="#carousel-indicadores" data-slide-to="0"></li>
            <li data-target="#carousel-indicadores" data-slide-to="1"></li>
            <li data-target="#carousel-indicadores" data-slide-to="2"></li>
            <li data-target="#carousel-indicadores" data-slide-to="3"></li>
            <li data-target="#carousel-indicadores" data-slide-to="4"></li>
        </ol>

        <!-- Content -->
        <div class="carousel-inner"> 
            <div (click)="open(movies[0])" class="carousel-item active">
                <img src="{{ urlImage + movies[0]?.backdrop_path }}" class="img-fluid" [alt]="movies[0]?.title">
                <div class="carousel-caption">
                    <h3 class="bg-dark rounded py-2">{{ movies[0]?.title }}</h3>
                </div>
            </div>
            <div  (click)="open(movie)" class="carousel-item" *ngFor="let movie of movies | slice:1:5">
                <img src="{{ urlImage + movie?.backdrop_path }}" class="img-fluid" [alt]="movie?.title">
                <div class="carousel-caption">
                    <h3 class="bg-dark rounded py-2">{{ movie?.title }}</h3>
                </div>
            </div>
        </div>

        <!-- Controles -->
        <a href="#carousel-indicadores" class="carousel-control-prev" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a href="#carousel-indicadores" class="carousel-control-next" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

    <br>
    
    <!-- Home Title -->
    <h3>Populares</h3>
    
    <!-- Movie Component -->
    <app-movie [movies]="movies"></app-movie> <br>

    <!-- Pagination -->
    <app-pagination></app-pagination>

</div>
