<div class="container main-container animated fadeIn fast">

    <div class="row">
        <div class="col-md-12">
            <h2> {{ movie.title }} </h2>
            <br>
        </div>
    </div>

    <div class="row">

        <div class="col-md-5">
            <img src="{{ urlImage + movie?.poster_path }}" [alt]="movie.original_title" class="img-thumbnail img-fluid">
        </div>


        <div class="col-md-7">
            <h3>Sinopse:</h3>
            <hr>
            <p class="text-justify">
                {{ movie.overview }}
            </p>

            <p>
                Popularidade: <span class="badge badge-primary">{{ movie.popularity | number:".0-0" }}/10</span>
                <br>
                Média de Votos: <span class="badge badge-primary">{{ movie.vote_average }}</span>
            </p>

            <button [routerLink]="['/'+regresarA, busqueda ]" type="button" class="btn btn-outline-danger">
                Regresar
            </button>

        </div>
    </div>
</div>

{{ movie.title }}
<br>
{{ movie.overview }}
<br>
{{ movie.popularity }}
<br>
{{ movie.poster_path }}






<!--div class="container main-container animated fadeIn fast">

    <div class="row">

        <div class="col-md-5">
            <img [src]="pelicula | peliculaImagen" [alt]="pelicula.original_title" class="img-thumbnail img-fluid">
        </div>


        <div class="col-md-7">
            <h3>Sinopsis</h3>
            <hr>
            <p class="text-justify">
                {{ pelicula.overview }}
            </p>

            <p>
                Popularidad: <span class="badge badge-primary">{{ pelicula.popularity | number:".0-0" }}/10</span>
                <br>
                Voto promedio: <span class="badge badge-primary">{{ pelicula.vote_average }}</span>
            </p>

            <button [routerLink]="['/'+regresarA, busqueda ]" type="button" class="btn btn-outline-danger">
                Regresar
            </button>

        </div>
    </div>
</div-->