
<header> <!-- Header -->
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container">
      
      <a routerLink="/" class="navbar-brand font-weight-bold">
        The Movies
      </a>

      <!-- Responsive Button -->
      <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="nav-principal">
        <ul class="navbar-nav ml-auto">
          
          <li class="nav-item" routerLinkActive=”active”>
            <a routerLink="/categories" class="nav-link"> Link </a>
          </li>


          <li class="nav-item dropdown mr-3">
            <a href="" class="nav-link dropdown-toggle" 
            data-toggle="dropdown">Categorias</a>

            <div class="dropdown-menu">
              <div *ngFor="let genre of genres">
                <a routerLink="/categories/28" class="dropdown-item" > {{ genre.name }} </a>
              </div>
            </div>
          </li>

          <!-- Pesquisa -->
          <li class="nav-item dropdown">
            <div class="input-group">
              <input (focus)="pesquisaReset()" class="form-control" type="text" placeholder="Pesquisar" #campoInput>
    
              <div class="input-group-append">
                <button (click)="pesquisar(campoInput.value)" type="button" class="btn btn-info">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </li>

        </ul>
      </div>

    </div>
  </nav>
</header> <!-- END Header -->